@page
@model Nordlager.Backend.Areas.Documents.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DocumentItem[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentItem[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentItem[0].ButtonUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentItem[0].ButtonText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentItem[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentItem[0].ValidFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentItem[0].ValidTo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DocumentItem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ButtonUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ButtonText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidTo)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
