@page
@model Nordlager.Backend.Areas.News.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>NewsItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NewsItem.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NewsItem.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NewsItem.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NewsItem.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NewsItem.ValidFrom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NewsItem.ValidFrom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NewsItem.ValidTo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NewsItem.ValidTo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.NewsItem.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
